/*-------------------------------------
 styles for sortingVisualizer main area
--------------------------------------*/

.array-display-container {
    /* background-color: aqua; */
    margin: 2rem;
    display: block;
    width: auto;
    height: auto;
    padding: 2rem;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow-x: auto;

    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.array-bar-container {
    height: auto;
    display: flex;
    align-items: flex-end;
}

/* remember to adjust the array numbers for different viewport */
.array-bar {
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
    background-color: transparent;
    margin-left: 0.125rem;
    margin-right: 0.125rem;
    padding: 0.6rem;
    border: 2px solid black;

    border-top-left-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    -moz-border-top-left-radius: 30px;
    -ms-border-top-left-radius: 30px;
    -o-border-top-left-radius: 30px;

    border-top-right-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -moz-border-top-right-radius: 30px;
    -ms-border-top-right-radius: 30px;
    -o-border-top-right-radius: 30px;
}

.algorithms-button {
    margin-top: 20px;
}

.value-inside-bar {
    font-size: 70%;
}
