@import "../../_settings/variables.css";

/*-------------------------------------
 styles for sortingVisualizer
--------------------------------------*/
.array-display-container {
    margin: 2rem;
    display: block;
    max-width: 100%;
    height: 55vh;
    padding: 2rem;
    position: relative;
    align-items: center;
    justify-content: center;
    overflow-x: auto;

    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}
.array-bar-container {
    height: 45vh;
    display: flex;
    align-items: flex-end;
}
.sorting-visualizer-title {
    margin: 0.5rem;
    color: var(--clr-primary-1);
}

.algorithms-button {
    margin-top: 20px;
    text-align: center;
}

.time-and-comparisons-container {
    display: flex;
    justify-content: space-evenly;
    margin: 0.8rem;
    color: var(--clr-primary-1);
}
.time-and-comparisons-container strong {
    /* font-size: 0.2rem; */
    font-weight: 600;
    color: var(--clr-black);
}
